@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 ="display-3"> This Page Show how authentication and authorization Work.</h2>
    <h3>** In This Web App using Identity core Authorization works.We used user,role,claim method to access the pages.</h3>
    <h3>1. In This Model Admin has access to all the pages and also he can create roles accordingly.</h3>
    <h3>2. In This Model Manager has access to only claim pages. </h3>
    <h3>3. In This Model User can only see his data. </h3>
</div>

<br />
<br />


<div class="row">
    <div class="column">
        <img src="~/images/index/Admin.png" alt="Admin" style="width:100%">
        <div class="text-center">Admin</div>
    </div>
    <div class="column">
        <img src="~/images/index/user.png" alt="user" style="width:100%">
        <div class="text-center">Manager</div>
    </div>
    <div class="column">
        <img src="~/images/index/mana.png" alt="user" style="width:100%">
        <div class="text-center">User</div>
    </div>

</div>
